<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<body>
    <audio id="audio-player"></audio>
    <img src="static/123.jpg">
    <script>
        $(document).ready(function () {
            // Функция для проверки наличия нового аудиофайла на сервере
            function checkForNewAudio() {
                $.ajax({
                    url: '/generate_audio',
                    method: 'GET',
                    success: function (response) {
                        if (response.newAudio) {
                            // Если есть новый аудиофайл, проигрывайте его на странице
                            playAudio(response.filename);
                        }
                    },
                    error: function (error) {
                        console.error('Ошибка при проверке наличия нового аудиофайла:', error);
                    }
                });
            }

            // Функция для проигрывания аудиофайла
            function playAudio(audioSrc) {
                const audioPlayer = new Audio(audioSrc);
                audioPlayer.play();
            }

            // Периодически проверять наличие нового аудиофайла
            setInterval(checkForNewAudio, 60000); // Проверять каждые 5 секунд
        });

    </script>
</body>

</html>